@media (prefers-color-scheme: dark) {
    body:not(.light) {
        background-color: black;
        color: white;
    }
}

.dark {
    background-color: black;
    color: white;
}

.light {
    background-color: white;
    color: black;
}
